@media only screen and (max-width: 768px) {
    .show {
      top: 0 !important;
      transition: all 0.3s ease;
    }
    nav {
      display: grid;
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: 100;
      background: black;
      transition: all 0.2s ease;
      top: 0;
      align-items: center;
      grid-template-rows: 200px 1fr;
      justify-content: center;
      top: -100vh;
    }
  
    nav .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  
    nav .nav-links li{
      margin-left: 0;
    }
  
    #toggle {
      display: block;
      position: absolute;
      right: 30px;
      z-index: 999;
  
    }
  
    .content {
      padding-top: 70px;
    }
  
}
  
@media only screen and (max-width: 600px) {
    .film-poster {
        width: 100%;
    }
}